<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Orders</title>
    </head>
    <body>
        <header>
            <h1>Flask Bookshop</h1>
        </header>
        <main>
            <section class = "card">
            <h2>Customer Orders</h2>
                <dl>
                    {% for order in orders %}
                    <dt>Order ID: </dt>
                    <dd><a href = 'http://localhost:5000/orders/{{orders.index(order)}}'>{{order.id}}</a></dd>

                    </dt>
                    {% endfor %}
                </dl>
            </section>
        </main>


    </body>
</html>